# конфиг файл проекта

env: YC_TOKEN # переменная окружения
cloud: test # раздел облака
project: test # id проекта в мониторинге
base: test # id базы в мониторинге

# количество ключевых операций,
# которые будут дополнены в ko_names,
# при запуске wr_most_common_ko.py
ko_number: 5

# список ключевых операций,
# для отправки в мониторинг
ko_names:
  - МеждународныйУчет.ОтражениеВМеждународномУчете
  - ОбновлениеТекущихДел.Mailbox

# путь к каталогу с выгрузками
# xml файлов оценки производительности
# закрывающий слеш обязателен
apdex_folder: C:\apdex\

# часовой пояс необходим для
# коррекции времени замера
# операции в UTC
time_zone: +03:00
